.corpo{
    background-color: #ddd4c9;
}
.titulo{
    margin-top: 15vh;
    text-align: center;
    font-size: 10vh;
    font-family: 'Hello Bonia Serif', sans-serif;
    color: rgb(101, 39, 158);
}
#User1,
#User2,
#User3,
#User4{
    background-color: #dab0ae;
    border-color: transparent;
}

.perguntas{
    margin-top: 10vh;
    display: grid;
    place-items: center;
    font-size: 4vh;
    row-gap: 5vh;
    font-family: 'Brugenfield', sans-serif;
    border-color: transparent;
}

input{
    width: 20vw;
    padding: 8px 20px;
    margin-left: 2vw;
    border-radius: 2vw;
    color: blueviolet;
    border-color:rgb(101, 39, 158);

}

input[type=text]:focus{
    background-color: rgb(244, 231, 255);
}

.btnStart{
    margin-top: 8vh;
    text-decoration: transparent !important;
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 6vh;
    font-family: 'Hello Bonia Serif', sans-serif;
    text-decoration: none;
}